page-login {
 h1 {
        font-family: Georgia, serif;
        //color: #fff;
        color: #0C7262;
        font-weight: 800;
        //padding-bottom: 20px;
        margin-top: -20px;
      }
    .s-color {
        font-family: Georgia, serif;
        color: #2E2E26;
        font-weight: 600;
        
      }

    .f-text{
        font-size: 2em;
    }

    h6{
       // color: #fff;
       color: #0C7262;
        font-family: Georgia, serif;
    }

    // ion-content{
    //     .scroll-content{
    //       background: linear-gradient(to bottom, #FFCC66 0%, #FF9900 100%);
    //     }
    
    //   }
    
    
    .item{
      background: transparent;
      }

    .logo{
        font-size: 25vh;
        margin-top: 25px;
        margin-bottom: -10px;
      }
    
    .rowStyle {
        background-color: white;
        padding-left: 10px;
        border-radius: 30px;
        margin-top: 12px;
        border: 2px solid #000;
    
        ion-icon {
          margin-top: 12px;
          margin-right: 10px;
          font-size: 18px;
          color: #0C7262;
        }
      }

    ion-input {
        ::placeholder{
            //color:rgb(72, 72, 77) !important;
            color:#0C7262 !important;
            font-size: 1em;
            font-family: Georgia, serif;
            
           
                 }

    }

    #bottomtext{
      padding-left:5px;
      // color:#fff !important;
      color: #0C7262 !important;
      font-size: 1em;
      }

    .signupbtn{
      color: rgb(27, 27, 73);
      font-weight: 800;
      font-size: 1em;
      }

    h6{
      text-align: center;
    }

    .logo-img{
      height: 200px;
      width: 180px;
     }
}
