page-home {
.hero-bkg-animated {
        background: url('../../assets/imgs/bg3.png') repeat 0 0;
        width: 100%;
        margin: 0;
        text-align: center;
        height: 100%;
        padding-top: 120px;
        box-sizing: border-box;
        animation: slide 20s linear infinite;
        -webkit-animation: slide 20s linear infinite;
      }
      
      .hero-bkg-animated h1 {
        font-family: Georgia, serif;
        color: #2E2E26;
        font-weight: 600;
        padding-bottom: 20px;
      }
      .hero-bkg-animated .s-color {
        font-family: Georgia, serif;
        color: #585856;
        font-weight: 600;
      }
      
      @keyframes slide {
          from { background-position: 0 0; }
          to { background-position: -400px 0; }
      }
      @-webkit-keyframes slide {
        from { background-position: 0 0; }
        to { background-position: -400px 0; }
    }
    
    ion-input {
        ::placeholder{
            color:rgb(72, 72, 77) !important;
            font-size: 17px;
            font-family: 'Times New Roman', Times, serif;
            padding-left: 5%;
           
        }

    }

    .rowmargin{
        position: absolute;
        bottom: 0px;
   }

    

    .f-text{
        font-size: 36px;
    }

    .hero-bkg-animated .guard-img{
        padding-top: 40%;
        padding-bottom: 20px;
    }


}
