page-uploadimage {
	h3 {
    font-family: Georgia, serif;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
  }
.s-color {
    font-family: Georgia, serif;
    color: #2E2E26;
    font-weight: 600;
  }

  .f-text{
      font-size: 2em;
  }
    h6{
        //color: #fff;
        color: #0C7262;
        font-family: Georgia, serif;
    }

//     ion-content{
//       .scroll-content{
//           background: linear-gradient(to bottom right, rgb(238, 211, 57) 0%, rgba(238, 227, 126, 0.938) 30%, #FF9900 100% );
//       }
  
//    }
    .bg1{
    	 
    	margin-top: 15px;
    }

    ion-icon {
           
          margin-left: 40px;
          font-size: 60px;
          opacity: 0.9;
        }
    .substyle{
            padding: 0px 0px !important;
            font-size: 1.2em !important;
            margin: 0px !important;
    }

}
