
<ion-header>

		<ion-navbar color="navcolour">
		 	<ion-title>
			  <h3><span class="f-text">V</span>ISITORS &nbsp;<span class="s-color"><span class="f-text">C</span>HECK</span></h3>
			</ion-title>
	  
		  <ion-buttons end style="padding-top: 5px;">
			<button ion-button icon-only clear (click) = "goToNextpage()">
			  <h3>SKIP</h3>
			</button>
		  </ion-buttons>
		</ion-navbar>

</ion-header>
	  
 

<ion-content no-padding>

	<ion-grid class="bg1" no-padding  style="width: 75%;">
	    <ion-row>
		     	<button ion-button medium (click)="takePhoto()">Take Picture</button>
					<h6>Please Open Your Camera</h6>
					
			</ion-row>
			<ion-row>
				<button ion-button medium (click)="uploadPicture()">Upload Picture</button>
				<h6>Please Open Your Gallery</h6>
			</ion-row>

			<ion-row margin *ngIf="image">
				<ion-card>
					<img [src]="image">
				</ion-card>
			</ion-row>

			<ion-row margin *ngIf="imageSrc">
				<ion-card>
					<img [src] ="imageSrc">
				</ion-card>
			</ion-row>
	</ion-grid>

</ion-content>

<ion-footer no-shadow>
		<ion-toolbar position="bottom">
			<ion-row no-padding>
				<ion-col col-12 no-padding>
					<button ion-button block color="primary" medium (click)="goToNext()">Submit</button>
				</ion-col>
				<!-- <ion-col col-6 no-padding>
					<button ion-button block color="navcolour" large (click)="watchmanReg()">Watchman</button>
				</ion-col> -->
			</ion-row>
		</ion-toolbar>
	</ion-footer>


	