page-parceldetails {
    h3 {
        font-family: Georgia, serif;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
    }

    .s-color {
        font-family: Georgia, serif;
        color: #2E2E26;
        font-weight: 600;
    }

    .f-text{
        font-size: 21px;
    }

    ion-content{
        .scroll-content{
            background: linear-gradient(to bottom right, rgb(238, 211, 57) 0%, rgba(238, 227, 126, 0.938) 30%, #FF9900 100% );
        }
    
     }

     .rowStyle {
        border: 1px solid #000;
        padding-left: 10px;
        border-radius: 30px;
        margin: 12px 0px;
    }

    ion-input {
        ::placeholder{
            color:rgb(72, 72, 77) !important;
            font-size: 15px;
            font-family: Georgia, serif;
            
           
                 }
            }

    .datetime-md .datetime-placeholder {
             color:rgb(72, 72, 77) !important;
             font-size: 15px !important;
             font-family: Georgia, serif !important;
             margin-left: -5px;
    }

    
}
