page-flatowner {
h3 {
        font-family: Georgia, serif;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
      }
    .s-color {
        font-family: Georgia, serif;
        color: #2E2E26;
        font-weight: 600;
      }

    .f-text-h{
        font-size: 25px;
    }

    ion-content{
        .scroll-content{
            background: linear-gradient(to bottom right, rgb(238, 211, 57) 0%, rgba(238, 227, 126, 0.938) 30%, #FF9900 100% );
        }
    
     }

    .avt-size img{
        height: 75px;
        width: 75px;
        border: 1px solid #FF9900;
    }

    .font-pading h3{
        margin: 10px 0px;
        font-size: 17px;
        font-family: Georgia, serif;
        font-weight: 700;
    }

    .font-pading p{
        font-size: 16px;
        font-family: Georgia, serif;
        font-weight: 500;
    }

    .c-padding{
        padding: 25px 0px;
        border-bottom: 2px solid #FF9900;
        border-right: 1px solid #FF9900; 
    }

    .c-padding ion-icon{
        font-size: 35px;
        color: rgb(138, 4, 4);
    }
}
